[submodule ".registry"]
	path = .registry
	url = https://github.com/info201b-au2022/universe
	shallow = true
	branch = HEAD
[submodule "rpractice"]
	path = rpractice
	url = https://github.com/info201b-au2022/rpractice
	shallow = true
	registered = true
